

path {  /*stroke-width:1px;*/ stroke: #fff; }
path:hover, rect:hover {
    /*fill-opacity: 0.8;*/
    /*stroke:white;*/
    /*stroke-width:2;*/
    /*fill: none;*/
}
.axis {  font: 10px sans-serif; }

.axis path,
.axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

path.domain {
  stroke: none;
}

.serie rect:hover {
  cursor: pointer;
}

rect {
  transition: width 0.5s ease-in-out, x 0.5s ease-in-out;
}

div.tooltip { 
  position: absolute;
  text-align: center;
  width: 60px;
  padding: 2px;
  font: 14px sans-serif;
  background: #e8e6e3;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;

  opacity:0.8;
  transition: opacity .4s;
}

.tooltip-enter, .tooltip-leave-to  {
  opacity: 0;
}

.errorbar line {
  stroke: black;
  stroke-width:2;
  /* transition: x1 0.5s ease-in-out, x2 0.5s ease-in-out; */
  transition: all 0.5s ease-in-out; 
}

.errorbar rect {
  stroke: black;
  stroke-width:0;
  color: black;
}

.errorbar circle {
  stroke: black;
  transition: cx 0.5s ease-in-out;
  /* stroke-width:2; */
}