
body{
    width:60em;
    margin:10px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
  font-size: 80%;
  color: #333;
  font-style: italic;
  border: 1px solid #ccc;
  text-align: center;
  padding: 5px;
}

p.whatif {
  margin-left:1.5em;
}

p.whatif:before {
  position: relative;
  margin-left:-1.5em;
  padding:0;
  font-size:80%;
  overflow: hidden;
  float: left;
  color: #888;
  content: "\25B6"; 
}

.logo {
  background: url("icons/logo_48.png") left bottom no-repeat;
  background-size: 44px 44px;
  height:44px;
  width:44px;
  position:absolute;
  margin-top:3px;
  margin-left:3px;
}


div.locale-switcher {
  position:relative;
  height: 0;
  left:100%;
  width:32px;
  margin-left:-40px;
  top:12px;
}
.locale-switcher-input {
  display:none;
}

.locale-switcher-input + label
{
  background: url("icons/france-flag-waving-icon-32.png") left bottom no-repeat;
  background-size: 32px 21px;

  height: 21px;
  width: 32px;
  display:inline-block;
  padding: 0px;
  margin-top:  0px;
  margin-right:6px;
}
 
.locale-switcher-input:checked + label
{
  background: url("icons/united-kingdom-flag-waving-icon-32.png") left bottom no-repeat;
  background-size: 32px 21px;
}

span.value {
  font-weight: bold;
  background-color: #ddd;
}

div.warning {
  padding: 0.5em 0 0.5em 6em;
  margin: 1em 0em 1em 0;
  background-color: #ff9f80;
}

div.warning:before {
  position: relative;
  margin-left:-1.25em;
  padding:0;
  font-size:400%;
  overflow: hidden;
  float: left;
  color: white;
  font-weight: bold;
  content: "\26A0"; 
}

.note {
  font-style: italic;
  font-size: 80%;
}

span.unit {
  font-size:80%;
  padding-left:2px;
}

input:enabled {
  /*background-color: #e1e1e1;*/
  border: 1px solid #cccccc;
}

input:disabled {
  background-color: #e1e1e1;
  border: 1px solid #cccccc;
}


/* tables */

table {
  border-spacing: 0;
  border-collapse: collapse;
}
tr,td {
  border-bottom: 1px solid white;
  margin-top: 0px;
  margin-bottom: 0;
}
td,th {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
th , .travel_detail_group_row td{
  background-color: #d9b38c
}
tr {
  background-color: #f2e6d9
}
tr:hover {
  background-color: #e6ccb3
}
tr.highlight {
  background-color: #e6ccb3
}

.transparent {
  background-color: white;
  border-bottom: 1px solid white;
}
tr.blank {
  height: 0.7em;
  background-color: white;
}
