.tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tabs a {
  color: #4a4a4a;
  text-decoration: none;

  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tabs a:hover {
  background-color: #ddd;
}

.tabs li {
  display: block;
}

.tabs li.is-active a {
  background-color: #ccc;
  color: black;
}

.tabs ul {
  margin:0;
  padding:0;
}

.tabs-details {
  padding: 12px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabs-details .tabs a {
  font-size: 15px;
  padding: 7px 12px;
}